@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Settings */
:root{
  --navbar-size:4.75rem;
  --navbar-bg-color: #1F1F1F;
  --navbar-shadow-color: none;
  --navbar-title-color:#413459;
  --navbar-link-color:#413459;
  --navbar-link-onhover-color: #c14379;

  --test-color:#493860;
  --navbar-logo-size: 200%;

  --sidebar-bg-color: #E6E6E6;
  --sidebar-border-color:none;
  --sidebar-shadow-color: none;
  --sidebar-item-color: #413459;
  --sidebar-item-onhover-color: #c14379;
  
}

@font-face {
  font-family: "JetBrains Mono", monospace;
  font-weight: 100;
  font-style: normal;
  src:  url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
}

/* body{
  background-color:#1c1c1e;
} */
/* Product page*/

.content-container{
  display : flex;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Client page */

.container-c{
  display: flex;
  justify-content: start;
  filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.50));
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgb(225, 225, 225); 
}

.container-table{
  margin: 2rem;
  height: 100%;
  width: 80%;
}

.info{
  display: flex;
  justify-content: center;
  height: 100%;
}

@keyframes spinner_GWy6{0%,50%{width:9px;height:9px}10%{width:11px;height:11px}}
@keyframes spinner_BNNO{0%,50%{x:1.5px;y:1.5px}10%{x:.5px;y:.5px}}
@keyframes spinner_pVqn{0%,50%{x:13.5px;y:1.5px}10%{x:12.5px;y:.5px}}
@keyframes spinner_6uKB{0%,50%{x:13.5px;y:13.5px}10%{x:12.5px;y:12.5px}}
@keyframes spinner_Qw4x{0%,50%{x:1.5px;y:13.5px}10%{x:.5px;y:12.5px}}